customtkinter
mutagen
pygame
librosa
numpy
soundfile
audioread
fastapi
uvicorn
pydantic
SpeechRecognition
PyAudio
pyttsx3
edge-tts
sounddevice
vosk
windnd
opencv-python
requests
beautifulsoup4
mido
torch
torchaudio
